.product-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 250px;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.07);
}

.product-card img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    margin-top: 10px;
}

.price {
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.discounted {
    color: #2ecc71;
    font-weight: bold;
    font-size: 20px;
}

.original {
    color: #777;
    text-decoration: line-through;
}